#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
    margin-top: 47px;
}

.flex-container {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 482px;
    height: 44px;
    margin: 0 auto;
    border: 0.8px solid #dfe1e5;
    border-radius: 24px;
}

#magnifier {
    fill: #9AA0A6;
    height: 20px;
    width: 20px;
    padding-left: 14px;
}

#search_box input[type="text"] {
    padding-left: 13px;
    border: 0px solid;
    height: 34px;
    font: 16px arial,sans-serif;
}

#search_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    padding-top: 18px;
    margin: 0 auto;
    width: 487px;
    height: 70px;
}

.button {
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5f6368;
    font: 14px arial,sans-serif;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    min-width: 54px;
}

#top_guide {
    position: absolute;
    left: 0;
    top: 16px;
    height: 0;
    width: 100%;
    font-family: arial,sans-serif;
    font-size: 13px;
}

#top_left_links {
    display: inline-block;
    position: relative;
    margin: 7px 0 0 10px;
    width: 99px;
    height: 16px;
}

#top_left_links a {
    padding-left: 15px;
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}